{% extends "base/main.html" %}
{%block content %}

<div class= "header-bar">
<h3>Register</h3>
</div>

<div class="contain">
    <form method="POST" action="">
        {% csrf_token %}

        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}

        <div style= "margin-top: 10px;"><input class="button" type="submit" value="register" /></div>
    </form>
    <p> Already signed up? <a href="{% url 'login' %}">login</a> </p> 
</div>
{% endblock content%}


